.headerWrapper {
  width: 100%;
  display: fixed;
  height: 60px;
  background-color: #cce2f8;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.leftContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      border-radius: 10px;
      height: 100%;
    }
    span {
      font-size: 24px;
      font-weight: 700;
      color: #1976d2;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
  }
}

.rightContent {
  .avatar {
    cursor: pointer;
  }
}

.appLayout {
  min-height: 100vh;
  padding: 50px;
  position: relative;
  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}
