.headerWrapper {
    width: 100%;
    padding: 0 100px;
    display: fixed;
    height: 60px;
    border-bottom: 2px solid #cce2f8;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.leftContent {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.rightContent {}