.slide {
    height: 150px;
}

.selected {
    background-color: rgb(210, 210, 255) !important;
}

.previewSlide {
    padding: 30px;
    border: 1px solid gray;
    min-width: 500px;
    height: 500px;
    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }
}