.footerWrapper {
  width: 100%;
  display: fixed;
  background-color: #cce2f8;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    .copyRight {
      text-align: center;
      width: 100%;
    }
  }
}
