.wrapper {
    .actionButtonWrapper {
        position: absolute;
        right: 100px;
        top: 20px;
        button {
            margin-left: 20px;
        }
    }
    .groupWrapper {
        >div {
            min-height: 300px;
            margin-bottom: 30px;
            h1 {
                margin-bottom: 10px;
            }
        }
        .card {
            height: 100px;
            background-color: #1976d211;
            border: 1px dashed #1976d22b;
            box-shadow: 1px 1px 1px 2px #1976d20c;
            border-radius: 10px;
            padding: 20px;
            cursor: pointer;
            span {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
            }
        }
        .emptyText {
            margin-top: 30px;
            font-style: italic;
        }
    }
}