.wrapper {
  padding: 0 50px;
  @media (max-width: 576px) {
    padding: 0 20px;
  }
}

.tableHead {
  background-color: #1976d2;
}

.tableHead * {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff !important;
}

.ownerRow {
  background-color: khaki;
}

.coOwnerRow {
  background-color: #cce2f8;
}

.memberRow {
  background-color: #fff;
}
